@use '../partials/setup';
@use '../partials/variables'as *;
@use '../partials/resets';
@use '../partials/typography';
@use '../partials/header';
@use '../partials/wrapper';
@use '../partials/loader';
@use '../partials/input';
@use '../partials/sections';
@use '../partials/dates';

.page{
    background-color: $secondary-color;
    height:fit-content;
    .wrapper{
        // @include bleed(1500px);
        .stages{
            @include flex-center(column, space-between, center);
            .load-wrapp{
                text-align:center;
            }
            .carousel{
                @include flex-center(row, space-between, flex-start);
                flex-wrap:wrap;
                width: 100%;
                margin-top:3rem;
                position: relative;
                .carousel-button {
                    position: absolute;
                    z-index: 2;
                    background: none;
                    border: none;
                    font-size: 4rem;
                    top: 100px;
                    transform: translateY(-100px);
                    color: rgba(255, 255, 255, .5);
                    cursor: pointer;
                    border-radius: .25rem;
                    padding: 0 .5rem;
                    background-color: rgba(0, 0, 0, .1);
                    &:hover, &:focus{
                        color: white;
                        background-color: rgba(0, 0, 0, .2);
                    }
                    &:focus{
                        outline: 1px solid black;
                    }
                    &.prev{
                        left:1rem;
                    }
                    &.next{
                        right:1rem;
                    }
                }
                > .side {
                    
                    order:1;
                    
                    ~ .side{
                        
                        order:3;
                        
                    }
                }

                .slide{
                    // position: absolute;
                    // inset: 0;
                    // left:0;
                    // top:0;
                    opacity: 1;
                    transition: 0.5s all ease-in-out;
                    // transition-delay: 200ms;
                    &[data-active] {
                        
                        border:5px #4b9cdb solid;
                        padding:1rem;
                        order:2;
                        flex-basis:40%;
                        
                        
                        // opacity: 1;
                        // z-index: 1;
                        // transition-delay: 0ms;
                        transform:translateY(50px);
                    }
                    
                    &.hide{
                        display:none;
                    }
                    &.side{
                        opacity:0.3;
                        flex-basis:15%;
                        // transform:scale(0.5) translate(50px);
    
                    }
                
                    
                }
                
                .group-stage {
                    @include wrap($margin:10px, $number-in-a-row:3, $min-width:200px, $max-width:800x);
                }
                .round16{
                    @include wrap($margin:10px, $number-in-a-row:3, $min-width:200px, $max-width:800x);
                }
                .quarter-finals {
                    @include wrap($margin:10px, $number-in-a-row:3, $min-width:200px, $max-width:800x);
                }
                .semi-finals {
                    @include wrap($margin:10px, $number-in-a-row:3, $min-width:200px, $max-width:800x);
                }
                .bronze {
                    @include wrap($margin:10px, $number-in-a-row:3, $min-width:200px, $max-width:800x);
                }
                .final {
                    @include wrap($margin:10px, $number-in-a-row:3, $min-width:200px, $max-width:800x);
                }
            }

        }

    }
}