@use '../partials/setup';
@use '../partials/variables'as *;
@use '../partials/resets';
@use '../partials/typography';
@use '../partials/wrapper';
@use '../partials/header';
@use '../partials/form';
@use '../partials/loader';

@use '../partials/sections';
@use '../partials/dates';
@use '../partials/teams';
@use '../partials/flag-box';
@use '../partials/nav-bar';




.page {
    .wrapper {
        @include flex-center(column, space-between, center);
        nav {
            width: 60%;
            margin: 2rem;
        }
        .standings {
            p {
                font-size: 15px;
            }
            width: 100%;
            @include flex-center(row, space-between, stretch);
            flex-wrap:wrap;
            .stage{
                @include flex-center(column, flex-start, center);
                @include wrap($margin:0.25rem, $number-in-a-row:4, $min-width:200px, $max-width:1000px);
                .header{
                    flex-grow:0;
                    flex-basis:auto;
                    h4{
                        font-size:18px;
                    }
                    
                }
                .content{
                    flex-grow:1;
                    flex-basis:auto;
                    @include flex-center(column, space-between, center);
                    @include wrap($margin:1rem, $number-in-a-row:4, $min-width:200px, $max-width:800px);
                    .match{
                        h4{
                            margin:0;
                            font-size:15px;
                        }
                        border-top:1px $border-color solid;
                        border-bottom:1px $border-color solid ;
                        width:210px;
                        padding:20px;
                        .team{
                            margin:20px 10px;
                        }
                        
                    }
                }
                &.hide{
                    display:none;
                }

            }
            position:relative;
            
            .carousel-button {
                position: absolute;
                z-index: 3;
                background: none;
                border: none;
                font-size: 4rem;
                top: 200px;
                transform: translateY(-100px);
                color: rgba(255, 255, 255, .5);
                cursor: pointer;
                border-radius: .25rem;
                padding: 0 .5rem;
                background-color: rgba(0, 0, 0, .1);
            
                &:hover,
                &:focus {
                    color: white;
                    background-color: rgba(0, 0, 0, .2);
                }
            
                &:focus {
                    outline: 1px solid black;
                }
            
                &.prev {
                    left: 1rem;
                }
            
                &.next {
                    right: 1rem;
                }
            }
        }
    }
}

#SEMI_FINALS{
    .content {
        justify-content: space-around;
    }

}
#FINAL{
    .content{
        justify-content: center;
    }
}
#QUARTER_FINALS{
    .content{
        justify-content: space-around;

    }
    
}



.team {
    .name {
        @include flex-center(row, space-between, center);
        min-width: 100px;
    }
}
