@use "variables"as *;

header {
    background-color: $primary-color;
    padding-top:1.5rem;
    .wrapper {
        height: 100%;
        @include flex-center(column, space-between, center);
        padding: 20px 0px;
        nav {
            .nav-bar {
                flex-wrap: wrap;
                li {
                    @include wrap($margin:7px, $number-in-a-row:4, $min-width:fit-content, $max-width:fit-content);
                }
               
            }
        }
        h1 {
            @include heading-styler;
            @include responsive-size(4rem, 1/3, 4vw);
            margin-bottom: 100px;
        }
    }
}