@use './variables' as *;
.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4b9cdb;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.load-wrapp {
    // float: left;
    width: 100px;
    height: 100px;
    margin: 2rem;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color:$secondary-color;
    &.hide{
        display:none;
    }
    p{
        padding: 0 0 20px;
        text-align: center;

        &::after{
            content:" ";
            color:$text-color;
            animation: dot1 2s ease-in-out infinite;
        
        }
    }
    &:last-child{
        margin-right:0;
    }
}


// .load-wrapp:last-child {
//     margin-right: 0;
// }

.load-9 .spinner {
    animation: loadingI 2s linear infinite;
}

.load-9 .bubble-1,
.load-9 .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}

.load-9 .bubble-2 {
    animation-delay: -1s;
}

@keyframes loadingI {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes dot1{
    0%, 100%{
        content:'...';
    }
    25%, 75%{
        content:'....';
    }
    50%{
        content:'.....';
    }
}
