@media (max-width: 390px) {
  
.statsBox {
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid grey;

        .img-box {
            width: 135px;
            margin: 0px;

            img {
                width: 100%;
                border: 1px solid lightgrey;
                /* height: 40px; */
            }
        }
        // .player {
        //     width: ;
        // }
        .statsCell {
            margin: 0px 10px;
            padding: 0;
            width: 65px;
            text-align: center;
        }

        p {
            color: white;
            padding-left: 20px;
            margin: 0px 25px;
        }


    }



}