@media (max-width: 390px) {
      
.team {
    width: 350px;
}

ul.tabContainer {
    width: 65%;
    font-size: 1.6rem;
    li {
        font-size: 1rem;
    }
}
.athleteBox {
    margin: 6px auto;
    height: 80px;
}
p {
    line-height: 20px;
}

.cellDiv {
    flex-direction: row;
}
div.statsBox {
    flex-direction: column;
    height: auto;
}

.player {
    display: flex;
}

.img-box {
    align-self: center;
}

}