@use '../partials/variables' as *;

.nav-bar {
    width: 100%;
    @include flex-center(row, space-between, center);
    list-style: none;
    li {
        flex-basis: 25%;

    }
    .active {
        border-bottom: $white 5px solid;
    }
    .linked {
        border-bottom: rgb(255, 255, 255, 0) 5px solid;
    }
}

.nested{
    li {
        flex-basis: 45%;
    
        a {
            color: $text-color;
    
            &.active {
                border-bottom: $off-white 5px solid;
            }
    
            &.linked {
                border-bottom: rgb(255, 255, 255, 0) 5px solid;
    
            }
        }
    }
    
}