@use 'variables' as *;

.container {
    margin-top: 75px;
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;

}

.teamBox {
    display: flex;
    width: 500px;
    height: 150px;
    /* border: 2px solid white; */
}

.team {
    display: flex;
}

.img-box {
    /* border: 2px solid white; */
    width: 100px;
    height: 80px;
    margin: 20px;
}

img {
    width: 100%;
    border: 1px solid whitesmoke;
    /* height: 40px; */
}

.teamInfo {
    width: 350px;
    padding: 20px;
}

.athleteBox {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 175px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 2%;
}

.player {
    color: black;
}