@use "variables"as *;

* {
    margin: 0;
    padding: 0
}

html {
    color:$text-color;
    font-size: 125%;
    
}
body{
    line-height:2rem;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

input,
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

fieldset{
    border:none;
}
section{
    padding:1rem 0;
}

.img-box {
    img {
        max-width: 100%;
    }
}
.hide {
    display: none;
}