@use 'variables'as *;

header {
    .wrapper{
        fieldset{
            flex-basis:45%;
        }
        nav{
            flex-basis:100%;
            width:100%;
        }

    }
    
}

.page{
    background-color: $secondary-color;
}




