@use 'variables'as *;

header {
    
    .wrapper{
        // display: flex;
        // flex-wrap:wrap;
        // justify-content: space-between;
        // h1{
        //     flex-basis:45%;
        //     margin:0;
        //     font-size: 1.75em;
        //     color: white;
        // }
        fieldset{
            flex-basis:45%;
        }
        nav{
            flex-basis:100%;
        
            width:100%;
            .nav-bar{
                width:100%;
                display:flex;
                flex-direction:row;
                justify-content: space-between;
                list-style:none;
                li{
                    flex-basis:25%;
                }
        
            }
        }

    }
    
}

.page{
    .wrapper{
        .date{
            
            .match-table{
               
                display: flex;
                justify-content: space-between;
                flex-wrap:wrap;
                .match{
                    flex-basis:40%;
                    margin:1rem;
                    padding:0 0.5rem;
                    display:flex;
                    justify-content: space-between;
                    align-content:center;
                    flex-wrap:wrap;
                    border:2px solid grey;
                    .winner{
                        // margin: 0 0.5rem;
                        flex-basis:100%;
                        text-align:center;
                    }
                    
                    .team1{
                        display:flex;
                        margin: 0 0.5rem;
                        flex-basis:40%;
                        .flag-box{
                            width:30px;
                            margin:0 10px;
                            img{
                                max-width:100%;
                                
                                width: 30px;
                                height:20px;
                                border: 1px solid black;
                            }
                        }
                    }
                    .team2{
                        display:flex;
                        margin: 0 0.5rem;
                        flex-basis:40%;
                        .flag-box {
                            
                            width: 30px;
                            margin:0 10px;
                        
                            img {
                                max-width:100%;
                            
                                width: 30px;
                                height:20px;
                                border: 1px solid black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.hide{
    display:none;
}

