@use 'variables'as *;

header {
    
    .wrapper{
        // display: flex;
        // flex-wrap:wrap;
        // justify-content: space-between;
        // h1{
        //     flex-basis:45%;
        //     margin:0;
        //     font-size: 1.75em;
        //     color: white;
        // }
        fieldset{
            flex-basis:45%;
        }
        nav{
            flex-basis:100%;
        
            width:100%;
            .nav-bar{
                width:100%;
                display:flex;
                flex-direction:row;
                justify-content: space-between;
                list-style:none;
                li{
                    flex-basis:25%;
                }
        
            }
        }

    }
    
}

.page{
    background-color: $secondary-color;
    .wrapper{
        .date{
            &.hide {
                display: none;
            }
            h4{
                text-align: left;
            }
            .match-table{
                background-color: $tertiary-color;
                border:1px solid $border-color;
               
                display: flex;
                justify-content: space-between;
                flex-wrap:wrap;
                .match{
                    flex-basis:40%;
                    flex-grow:1;
                    padding:1rem;
                    display:flex;
                    justify-content: space-between;
                    align-content:center;
                    flex-wrap:wrap;
                    border:1px solid $border-color;
                    color:$text-color;
                    &.hide{
                        display:none;
                    }
                    &:hover, &:focus {
                        background-color: $off-white;
                        color: $black;
                        border: solid 1px $off-white;
                        .more-info{
                            img-box{
                                background-color: $tertiary-color;
                            }
                        }
                    }
                    .team1{
                        display:flex;
                        margin: 0 0.5rem;
                        flex-basis:40%;
                        min-width: 190px;
                        .img-box{
                            width:30px;
                            margin:0 10px;
                            img{
                                max-width:100%;
                                
                                width: 30px;
                                height:20px;
                                border: 1px solid black;
                            }
                        }
                    }
                    .team2{
                        min-width: 190px;
                        display:flex;
                        margin: 0 0.5rem;
                        flex-basis:40%;
                        .img-box {
                            width: 30px;
                            margin:0 10px;
                            img {
                                max-width:100%;
                                width: 30px;
                                height:20px;
                                border: 1px solid $border-color
                            }
                        }
                    }
                    .more-info{
                        margin: 1rem 0.5rem 1rem 0.5rem;
                        .img-box{
                            width: 50px;
                            img{
                                max-width:100%;
                                height:auto;
                    
                            }
                        }


                    }
                    

                }
            }
        }
    }
}

.hide{
    display:none;
}


