@use 'variables' as *;
h1 {
    // font-size: 138px;
    @include responsive-size(6.9rem, 1/3, 7vw);
    // text-align:center;
    text-transform: uppercase;
}

h2 {
    // font-size: 80px;
    @include responsive-size(4rem, 1/3, 7vw);
    line-height: 92px;
}

h3 {
    // font-size: 42px;
    @include responsive-size(2.1rem, 1/2, 1vw);
    letter-spacing: 1px;
    text-transform: uppercase;
    // text-align: center;
}

h4 {
    // font-size: 32px;
    @include responsive-size(1.6rem, 1/2, 1vw);
    letter-spacing: 1px;
    text-transform: uppercase;
}

section {
    padding: 80px 0;
    margin: 0;
    width: 100vw;
}

.button {
    @include style-1();
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
    background-color: $primary-color;
    border: solid 2px $primary-color;
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    width: fit-content;
    transition: 0.3s;

    &:hover {
        background-color: $white;
        color: $black;
        border: solid 2px $black;
    }

    &:focus {
        background-color: $white;
        color: $black;
    }

    a {
        display: inline-block;
        width: 100%;
        text-align: center;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        &:focus {
            opacity: 1;
        }
    }
}

p,
.paragraph {
    @include style-2();
    font-size: 20px;
    line-height: 32px;
}

.menu-nav {
    @include style-1();
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
    line-height: 29px;
    text-decoration: none;
    text-transform: uppercase;
}